/* header and nav layout */

header {
  --background-color: 255, 255, 255;
  --secondary-background-color: 192, 192, 192;
}

header .nav {
  display: grid;
  grid-template-areas: 'brand hamburger' 'sections sections' 'buttons buttons';
  grid-template-columns: calc(100% - 22px) 22px;
  grid-template-rows: 64px 1fr;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100vw;
  height: 70px;
  border-bottom: 3px solid #ebeae7;
  box-sizing: border-box;
}

/* hamburger */

header .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  color: #ddd;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}
header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}
header .nav[aria-expanded='true'] .nav-hamburger-icon::after,
header .nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
header .nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* brand */

header .nav-brand {
  grid-area: brand;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--color-info-accent);
}

header .nav-brand p {
  margin: 0;
}

header .nav-brand p img {
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 9px;
  padding-right: 9px;
  height: 18px;
  border-right: 1px solid var(--color-info-accent);
}

/* sections */

header .nav-sections {
  grid-area: sections;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: rgba(var(--background-color),.92);
  width: 100vw;
}

header .nav-sections h2 {
  font-size: 22px;
}

header .nav-sections ul {
  list-style: none;
  padding-left: 0;
} 

header .nav-sections li {
  font-size: 20px;
  font-weight: 700;
}

header .nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
  width: 400px;
}

header .nav[aria-expanded='true'] {
  min-height: 100vh;
}

/* nav buttons */

header .nav-buttons {
  grid-area: buttons;
  display: none;
  width: 100vw;
}

header .nav[aria-expanded='true'] .nav-buttons {
  display: block;
  align-self: flex-start;
}

header .nav-buttons .button {
  padding: 5px 20px;
  min-width: 60px;
  margin: 0 5px;
}


/* desktop nav styles */

@media (min-width: 900px) {
  header .nav {
    grid-template-areas: 'brand sections buttons';
    grid-template-columns: 300px 1fr 250px;
  }

  header .nav-brand p img {
    height: 23px;
    padding-left: 22px
  }
  

  header .nav-hamburger {
    display: none;
  }

  header .nav-sections {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;        
  }
  
  header .nav[aria-expanded='true'] .nav-sections {
    display: flex;
    min-height: unset;
  }

  header .nav-section {
    padding: 0 22px;
    position: relative;
  }

  header .nav-sections h2 {
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    color: #999;
  }

  header .nav-section ul, header .nav-section .nav-section-wrapper {
    display: none;
    padding-bottom: 30px;
    padding-top: 18px;
  }

  header .nav-section li {
    font-size: 14px;
    padding: 8px 44px;
    color: #666;
  }

  header .nav-section[aria-expanded='true'] > ul, header .nav-section[aria-expanded='true'] > .nav-section-wrapper {
    display: block;
    position: absolute;
    background-color: rgba(var(--background-color));
    width: 300px;
    left: -28px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
  } 

  header .nav-section[aria-expanded='true'] li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    background-color: rgba(var(--secondary-background-color));
    width: 300px;
    left: 280px;
    top: -9px;
    border-radius: 0 0 20px 0;
    height: calc(100% - 4px);
    box-sizing: border-box;
    z-index: -1;
    padding-top: 12px;
  }

  header .nav-section ul a:any-link{
    text-decoration: none;
    color: #666;
  }

  header .nav-buttons {
    margin-top: 4px;
    display: flex;
  }
}