
/* article header */

main .article-header-container > div {
  max-width: unset;
  padding: 0;
  margin: 0 auto;
}

main .article-header > div {
  max-width: 800px;
  margin: auto;
  padding: 0 20px
}

main .article-header p {
  display: inline-block;
  margin: 0;
}

main .article-header .article-header-image {
  max-width: unset;
  position: relative;
  height: 450px;
  background-image: url(/styles/single-post-leaf.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

main .article-header picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .article-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .article-header-eyebrow {
  color: var(--category-color);
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

main .article-header-read-time::before {
  content: '•';
  display: inline-block;
  margin: 1px 8px 0 4px;
  font-size: 10px;
  vertical-align: top;
}

main .article-header-read-time:empty:before {
  display: none;
}

main .article-header h1 {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-size: 28px;
  margin: 12px 0;
  color: #444;
}

main .article-header .article-header-author-pub {
  color: #777;
}

main .article-header-author::before {
  content: 'By ';
}

main .article-header-publication-date::before {
  content: '•';
  display: inline-block;
  margin: 5px 20px 0 18px;
  font-size: 14px;
  vertical-align: top;
}


@media (min-width: 900px) {
  main .article-header-eyebrow {
    font-size: 16px;
  }

  main .article-header-read-time::before {
    content: '•';
    margin: 1px 8px 0 4px;
    font-size: 14px;
  }

  main .article-header h1 {
    font-size: 48px;
  }
}